/* General */

html {
  overflow-y: scroll; /* always show scrollbar */
}

.c-pointer {
  cursor: pointer;
}

.spacer {
  height: 64px;
}

/* Sidebar */

#sidebar {
  width: 300px; /* must match #navbar & #content */
  z-index: 5;
}

/* Header */

#genero-logo {
  max-width: 70%;
}

/* Navbar */

#navbar {
  width: 300px; /* must match #sidebar & #content */
}

/* Content */

#content {
  margin-left: 300px; /* must match #sidebar & #navbar */
}

#content h1 {
  font-size: 3.2em;
  font-weight: bold;
}

#content h2 {
  font-size: 1.5em;
  font-weight: bold;
}

#g-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

/* Footer */

#publisher a, #co-publisher a, #sponsor a {
  text-decoration: none;
}

#fps-logo {
  height: 32px;
}

#wsc-logo, #rwfund-logo {
  height: 36px;
}
